* {
  margin: 0;
  padding: 0;
}

body  {
  background-color: lightgray;
}

.main--container{
  margin: auto;
  border: 1px solid red;
  width: 60%;
  height: 100vh;
  background-color: #828282;
}

.input--container{
  display: block;
  text-align: center;
  border: 1px solid green;
}

.input-field{
  margin: 2rem auto; 
  width: 15rem;
  height: 2rem;
  border-radius: 15px;
  border-width: 1px;
  text-align: center;
}

.add-btn{
  margin-left: 1rem;
  height: 2rem;
  width: 5rem;
  border: 1px solid black;
  border-radius: 15px;
  background-color: #1DB954;
  color: white;
}

.main--container > h1{
  text-align: center;
  color: white;
}

.list-items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 1rem;
  border: 1px solid orange;
  background-color: darkgray;
  color: white;  
  font-size: 16px;  
}

.list-items:hover{
  cursor: grab;
}

.delete-btn{
  background-color: red;
  border: none;
  color: white;
  padding: 2px;
  border-radius: 7px;
  cursor: pointer;
}

.delete-btn:hover{
  background-color: darkred;
}